.thumbPhoto {
  position: relative;

  .favBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;

    svg {
      width: 24px;
      height: 22px;
      stroke: #2d3f24;
    }
  }

  .banners {
    padding: 2px 4px;
    position: absolute;
    top: 16px;
    left: 16px;
    display: inline-flex;
    font-size: 13px;
    line-height: calc(20 / 13);
    color: white;
    background-color: #b4a525;
    text-transform: capitalize;
    border-radius: 6px;
  }

  img {
    background-color: #dad4c8;
    width: 100%;
    min-height: 304px;
    border-radius: 6px;

    @media screen and (min-width: 834px) {
      width: 240px;
      height: 280px;
    }
    @media screen and (min-width: 1440px) {
      width: 304px;
      height: 304px;
    }
  }
}

.name {
  margin: 16px 0;
  font-weight: 400;

  @media screen and (min-width: 834px) {
    margin: 16px 0 8px;
  }
  @media screen and (min-width: 1440px) {
    margin: 8px 0 16px;
  }
}

.infoDiv {
  margin-top: auto;
  color: #5b5b59;

  p {
    color: #000;
    @media screen and (min-width: 1440px) {
      color: #101010;
    }
    &::first-letter {
      color: #5b5b59;
    }
  }

  svg {
    width: 16px;
    height: 15px;
    stroke: #5b5b59;
  }
}

.flexBox {
  margin-bottom: 8px;
  display: flex;
  align-items: baseline;
  gap: 16px;
  justify-content: center;
  line-height: 1;

  @media screen and (min-width: 834px) {
    justify-content: flex-start;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 16px;
  }

  ul {
    display: flex;
    gap: 8px;
    li {
      width: 16px;
      height: 15px;
    }
  }
}

.cardBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  background-color: #2d3f24;

  svg {
    width: 24px;
    height: 22px;
  }

  // &:hover {
  //   box-shadow: 1px 1px 7px 0 rgba(218, 212, 200, 70%);
  // }
}
