.aside {
  padding-top: 0;
  @media screen and (min-width: 1440px) {
    padding-top: 116px;
  }

  button {
    display: none;
    @media screen and (min-width: 1440px) {
      display: flex;
    }
  }
}

.deliveryForm {
  & > div:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;

    @media screen and (min-width: 1440px) {
      row-gap: 32px;
    }
  }

  h3 {
    margin: 24px 0;
    @media screen and (min-width: 1440px) {
      margin: 56px 0 40px;
    }
  }

  textarea {
    padding: 8px;
    width: 100%;
    height: 112px;
    font-family: inherit;
    font-size: 18px;
    line-height: calc(25 / 18);
    color: #000;
    resize: none;

    @media screen and (max-width: 1439px) {
      &::-webkit-input-placeholder {
        position: absolute;
        top: 40px;
      }
    }

    @media screen and (min-width: 1440px) {
      padding: 16px;
    }
  }

  button {
    margin-top: 24px;
    display: flex;
    @media screen and (min-width: 1440px) {
      display: none;
    }
  }
}

.geoIcon {
  padding: 2px 4px;
  fill: #5b5b59;
  margin-right: 8px;
}
